form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  width: 20%;
  padding-bottom: 10px;
}

p {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card-name {
  justify-content: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.container {
  display: flex;
  width: 100%;
}
